.navbar-brand {
	display: block;
	font-size: 30px;
}

.navbar-brand small {
	display: block;
	font-size: 18px;
}

.item {
	display: inline-block;
	position:relative; 
	width:30%;
	max-width:100%px; 
	margin 0 auto; 
	padding: 0px 10px 0px 10px
}

#results-div {
	position:relative; 
	width:100%;
	max-width: 100%; 
	margin 0 auto; 
	padding: 20px; 
	text-align:center;
}